<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jgsconsole.app.repository.biz.HpwlNewsDao">
    
	<resultMap id="noteResult" type="java.util.HashMap">  
	    <result property="ID" column="ID" />  
	    <result property="TITLE" column="TITLE" jdbcType="VARCHAR" javaType = "java.lang.String" />  
	    <result property="CONTENT"  column="CONTENT" jdbcType="CLOB" javaType = "java.lang.String" />
	    <result property="DATETIME" column="DATETIME" jdbcType="VARCHAR" javaType = "java.lang.String" />
	    <result property="IS_SHOWN" column="IS_SHOWN" jdbcType="VARCHAR" javaType = "java.lang.String" />
	    <result property="CREATE_TIME" column="CREATE_TIME" jdbcType="VARCHAR" javaType = "java.lang.String" />
	    <result property="CREATOR" column="CREATOR" jdbcType="VARCHAR" javaType = "java.lang.String" />
	    <result property="ATTACHMENT"  column="ATTACHMENT" jdbcType="CLOB" javaType = "java.lang.String" />
	    <result property="IS_PUBLISH" column="IS_PUBLISH" jdbcType="VARCHAR" javaType = "java.lang.String" />
    </resultMap>
    
	<select id="getAllTypeNewsCount" resultType="int" parameterType="map">
	  	select count(1) from org_news where flag='0' and type=#{TYPE}
	</select>
	
	<select id="getAllTypeNews" resultMap="noteResult" parameterType="map">
		select * from org_news where flag='0' and type=#{TYPE} order by create_time desc
	</select>
	
	<insert id="addOrgNews" parameterType="map">
	    insert into org_news(ID,
							 TITLE,
							 CONTENT,
							 DATETIME,
							 IS_SHOWN,
							 CREATE_TIME,
							 CREATOR,
							 TYPE,
							 OPERATE_TIME,
						  <if test="ATTACHMENT != null">
							 ATTACHMENT,
						  </if>
						  <if test="QUICK_IMG != null">
							 QUICK_IMG,
						  </if>
						  <if test="QUICK_DESC != null">
							 QUICK_DESC,
						  </if>
							 OPERATOR) values (
							 #{ID},
							 #{TITLE},
							 #{CONTENT},
							 #{DATETIME},
							 #{IS_SHOWN},
							 #{CREATE_TIME},
							 #{CREATOR},
							 #{TYPE},
							 #{OPERATE_TIME},
						  <if test="ATTACHMENT != null">
							 #{ATTACHMENT},
						  </if>
						  <if test="QUICK_IMG != null">
							 #{QUICK_IMG},
						  </if>
						  <if test="QUICK_DESC != null">
							 #{QUICK_DESC},
						  </if>
							 #{OPERATOR}
							 )
	</insert>
	
	<update id="editOrgNews" parameterType="map">
	    update org_news set OPERATE_TIME=#{OPERATE_TIME},
	    OPERATOR=#{OPERATOR},
	    TITLE=#{TITLE},
	    DATETIME=#{DATETIME},
	    IS_SHOWN=#{IS_SHOWN},
	    CREATE_TIME=#{CREATE_TIME},
	    <if test="ATTACHMENT != null">
	        ATTACHMENT=#{ATTACHMENT},
	    </if>
	    <if test="QUICK_IMG != null">
	        QUICK_IMG=#{QUICK_IMG},
	    </if>
	    <if test="QUICK_DESC != null">
	        QUICK_DESC=#{QUICK_DESC},
	    </if>
	    <if test="CONTENT != null">
	        CONTENT=#{CONTENT},
	    </if>
	    CREATOR=#{CREATOR}
	    where id = #{ID}
	</update>
	
	<update id="delOrgNews" parameterType="map">
	    update org_news set flag='1' where ID=#{ID}
	</update>
	
	<update id="delHploop" parameterType="map">
	    update org_news set IS_SET_HPIC='1',SET_HPIC_URI='' where ID=#{ID}
	</update>
	
	<update id="setShowInHomepage" parameterType="map">
	    update org_news set is_shown=#{IS_SHOWN} where id=#{ID}
	</update>
	
	<update id="setHpLoop" parameterType="map">
	    update org_news set IS_SET_HPIC=#{IS_SET_HPIC},SET_HPIC_URI=#{SET_HPIC_URI} where id=#{ID}
	</update>
	
	<update id="publish_newses" parameterType="string">
	    update org_news set IS_PUBLISH='0' where id=#{_parameter}
	</update>
	
	<update id="back_publishedNews" parameterType="string">
	    update org_news set IS_PUBLISH='1' where id=#{_parameter}
	</update>
	
	<select id="getInfoList" resultType="java.util.HashMap">
	    <![CDATA[
		select * from (select ID,TITLE,DATETIME from org_news where is_shown='0' and flag='0' and IS_PUBLISH='0' order by CREATE_TIME desc) where rownum<4
		]]>
	</select>
	
</mapper> 
