<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jgsconsole.app.repository.biz.XhFileDao">
    
	<insert id="insertUploadFile" parameterType="map">
	    insert into XH_FILE(ID,
							TITLE,
							FILE_TYPE,
							FILE_SIZE,
							CREATE_TIME,
							FILE_LOC,
							PDF_LOC,
							CREATOR) values (
							    #{ID},
								#{TITLE},
								#{FILE_TYPE},
								#{FILE_SIZE},
								to_char(sysdate,'yyyy-MM-dd'),
								#{FILE_LOC},
								#{PDF_LOC},
								#{CREATOR}
							 )
	</insert>
	
	<delete id="delUpFile" parameterType="map">
	    delete from XH_FILE where id=#{ID}
	</delete>
	
	<select id="getXhFile" resultType="java.util.HashMap" parameterType="map">
		select * from XH_FILE where flag='0' order by addtime desc
	</select>
	
	<select id="getXhFileCount" resultType="int">
	  	select count(1) from XH_FILE where flag='0'
	</select>
	
	<update id="setXhfileCanDld" parameterType="map">
	    update XH_FILE set CAN_DLD=#{CAN_DLD} where id=#{ID}
	</update>
</mapper> 
